
<p> Bienvenue sur notre page de voyages. </p>

<p> Sed vehicula est et congue congue. Morbi aliquam dolor sed venenatis efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum varius porta. Aenean eleifend sagittis dolor, ut sodales est scelerisque in. Proin pulvinar erat nec mattis laoreet. Nullam egestas justo vitae tempus posuere. Quisque pharetra vel nibh eu gravida. Cras lacinia dictum erat in mattis. In sed urna sed ipsum condimentum laoreet. In hac habitasse platea dictumst. Duis velit libero, placerat sed massa vel, tincidunt laoreet felis. Sed posuere bibendum nulla, eget blandit quam. Donec est leo, eleifend malesuada dapibus non, viverra ac lacus. Aenean nulla turpis, tempus consectetur erat volutpat, bibendum pharetra ante.</p>


<br>


     <!--- Nav bar  --->

  <div class="border-bottom py-3">
    <div class="container">
    <!--- Justify content gauche/droite --->
      <div class="d-flex justify-content-between align-items-center">
      <!--- Logo  --->
       <a href="https://www.flaticon.com/svg/vstatic/svg/2285/2285537.svg?token=exp=1614812798~hmac=a5ea9776c539474084fc1dd206ee422e">
        <img border="0" alt="Rocket" width="100" height="100"></a>
        <a href="#" class="btn btn-primary btn-lg">Login</a>
      </div>
    </div>
  </div>







