

//start here


.benefits-head {
  background: #343A40;
  padding: 3rem;
  min-height:  30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}



.benefits-head {
  padding: 1rem;
}
//parent with childrends




.cards {
  display: block;
width: 90%;
margin: auto;
display: flex;
min-height: 70vh;
align-items: center;
grid-gap: 3rem;
justify-items: center;
flex-wrap: wrap;
grid-template-columns: repeat(3, 1fr 1fr 1fr 1fr);
grid-template-rows: auto;
}


//size cards with 30vh or 40 min-height with align-items from cards.
.card {
text-align: center;
flex: 1 1 25rem;
min-height: 20vh;
margin: 2rem 5rem;
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.card h4 {
  padding: 2rem;
}

.card p {
  padding: 1rem;
}

.cards img {
max-width: 98%;
margin: 1rem;
}

//bug here
