// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";


/*--- layouts  ---*/
@import url("pages/voyages");


/*--- fonts & colors  ---*/

body {
  background: url('') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color: white;
  font-family: "Poppins", sans-serif;
}


